blinker==1.8.2
bottle==0.12.25
bottle-websocket==0.2.9
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
google-api-core==2.19.0
google-api-python-client==2.129.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
greenlet==3.0.3
httplib2==0.22.0
idna==3.7
importlib_metadata==7.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
oauthlib==3.2.2
proto-plus==1.23.0
protobuf==4.25.3
proxy-tools==0.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyobjc-core==10.2
pyobjc-framework-Cocoa==10.2
pyobjc-framework-Security==10.2
pyobjc-framework-WebKit==10.2
pyparsing==3.1.2
requests==2.32.0
requests-oauthlib==2.0.0
rsa==4.9
typing_extensions==4.11.0
uritemplate==4.1.1
urllib3==2.2.1
Werkzeug==3.0.3
whichcraft==0.6.1
zipp==3.18.2
zope.event==5.0
zope.interface==6.4
