<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Planner</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h2>First Time User</h2>

    <p>Enter a name for your calendar:</p>
    <input type="text" id="nameInput">
    <p>Enter a Gmail email to share the calendar:</p>
    <input type="text" id="emailInput">
    <button onclick="submitInfo()">Submit</button>
    <div id="info_message"></div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>